.archive-cards .card {
	min-width: 200px;
}

.home-cards {
  .card-deck {
    .card {
      min-width: 250px;
    	margin-bottom: 2em;
      border-color: $gray-200;
      background: $gray-100;

      .card-title {
        color: $gray-800;
        text-transform: uppercase;
      }
      .card-text {
        font-size: .9rem;
      }

      a {
        text-decoration: none;
      }
      &:hover {
        border-color: $primary;
        .card-title,
        .card-text {
          color: $primary;
        }
      }
    }
  }
}

article {
  p code.language-text {
    color: $gray-900 !important;
    background: $gray-200 !important;
    padding: .25rem .5rem;
  }

	a {
		color: $secondary;
    text-decoration: underline;

		&:hover {
			color: $secondary;
			text-decoration: none;
		}
	}

  ul {
    list-style-type: none;
    li:before {
      font-family: "Ionicons";
	     content: "\f3d1";
      color: $primary;
      display: inline-block; width: 1em;
      margin-left: -1em
    }
  }

  ul, ol {
    li {
      margin-bottom: .5rem;
      strong {
        color: $gray-900;
      }
    }
  }

  h1,
  h2,
  h3 {
    &:first-child() {
      padding-top: 0;
    }
    padding-top: 1rem;
  }
}

.list-group {
  &:first-child {
  }
 .list-group-item {


    &:first-child {
    }

    .list-group-item {
    }

    .list-group-item-action {

    }

    .list-group-item-title {
      font-weight: bold;
      margin-bottom: 0;
    }

    .list-group-item-description {
      font-size: .8rem;
      margin-bottom: 0;
      margin-left: .5rem;
    }
  }
}
