#HeaderNav {
  .navbar-brand {
    padding: 0;
    margin: 0;

    svg {
     height: 2.2rem;
     fill: $gray-light-2;
    }

    span {
      color: $gray-100;
      padding:0;
      margin:0;
      margin-left: .5rem;
      color: $primary;
      padding-bottom:3px;
    }
  }


  a {
    color: $gray-light-1;
    text-transform: uppercase;
    font-size: .9rem;
    &:hover {
      color: $primary;
    }
  }
}

#LeftNav {
  padding:0;
  .nav-item {
    padding:0;
    text-transform: uppercase;
    &:last-child {
      margin-bottom: 1rem;
    }

    .nav-item {
      padding-left: 1rem;
      font-size: .8rem;
      text-transform:none;

      border-left: 1px solid lighten($ns-primary-dark-accent,3%);
      margin:0;

      .nav-link {
        padding: 0;
      }
      &:last-child {
        margin-bottom: 1rem;
      }
    }

		a.nav-link  {
      padding: 0.25rem 0;
      color: lighten($primary,10%);
			&.active {
				color: $gray-light-1;
			}

			&:hover {
				color: lighten($primary,30%);;
			}
		}
	}

  #navbar-left {
    padding-top:1rem;
  }


  #leftnavtoggle {
    position: absolute;
    top:-2.9rem;
    right:0;
  }
}

#ArticleRight {
  padding-bottom: 2rem;
  padding-top: 1rem;
  .sticky-top {
    padding-top:1rem;
  }

  nav.article-toc {
    ul {
      list-style-type: none;
      padding-left: 1rem;
      padding-right: 0rem;
      li p,li li p {
        display:none;
      }
      ul {
        padding: 0;
      }
      li li:before {
        font-family: "Ionicons";
  	     content: "\f3d1";
        color: $primary;
        display: inline-block; width: 1em;
        margin-left: -1em
      }
    }
  }

  h5 {
    text-transform: uppercase;
    color: $gray-900;
    font-size: .9rem;
  }

  .related-articles {
    .list-group-item {
      padding: .5rem;
      .list-group-item-title {
        font-size: .8rem;
      }
      .list-group-item-description {
        font-size: .7rem;
      }
    }
  }
}
