/* Typography */
@font-face {
	font-family: 'Hind';
}

@font-face {
	font-family: 'Montserrat';
}
@font-face {
	font-family: 'Ionicons';
}

$body-bg: $white;
$body-color: $gray-700;

html {
	font-family: $font-family-sans-serif;
	font-size: 18px;
	color: $body-color;
	background: $body-bg;

	@include media-breakpoint-down(md) {
		font-size: $font-size-sm;
	}
}

h1 {
	color: $gray-900 !important;
	font-weight: 800 !important;
	border-bottom: 1px solid $gray-200;
	margin-bottom: 2rem;
}

h2 {
	font-size: 1.8rem;
	color: $gray-700 !important;
	font-weight: 600 !important;
}
.trade {
	font-family: Helvetica, arial, verdana, sans-serif;
	font-weight: 100;
	font-size: small;
	top: -0.2rem;
}

small .trade {
	top: -0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-sans-serif;
	font-weight: 600;
	color: $gray-900;
}

h1.small,
h2.small,
h3.small,
h4.small,
h5.small,
h6.small {
	font-size: 80% !important;
}

small,
.small {
	font-size: 80%;
}

strong,
.strong {
	font-weight: 700;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
}

.ls {
	letter-spacing: 0.08rem;
}

.caps {
	text-transform: uppercase;
}

blockquote,
q {
	quotes: '' '';
}

.f-halfx {
	font-size: 1.2rem;
}

.f-1x {
	font-size: 1.6rem;
}

.f-2x {
	font-size: 2rem;
}

.f-3x {
	font-size: 3rem;
}

.f-4x {
	font-size: 4rem;
}

.f-5x {
	font-size: 5rem;
}

.f-6x {
	font-size: 6rem;
}

.f-8x {
	font-size: 8rem;
}

ul.data-list {
	@extend .d-flex;
	@extend .flex-row;
	@extend .flex-wrap;

	li {
		width: 49%;
		padding: 0.2rem 0;
	}
}

ul.stacking {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;

	li {
		text-align: left;
		margin-bottom: 0.8rem;
	}
}

.text-danger-muted {
	color: theme-color-level('danger', -10);
}

.text-primary-muted {
	color: theme-color-level('primary', -10);
}

.text-success-dark {
	color: theme-color-level('success', 4);
}
